body{
  background-image:url(background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}
.boxnero{
  width: 800px;
  padding: 50px;
  margin:auto;
  background-color:rgba(0, 0, 0, 0.5);
}
.logo{
  display: block;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
}
.titolo{
text-align:center;
color: #66ff33;
}

#Tasti{
  background-color: #66ff33;
  text-align: center;
  height: 40px;
}
.bottoni{
  margin-top: 10px;
}
h2{
  display: inline-block;
  margin-bottom: 5px;
}
main{
  margin-top: 10px;
}
.Batteria1{
  color: orange;
  background-color: orange;
  border-radius: 5px;
  width: 200px;
}
.Batteria2{
  color: #66ff33;
  background-color: #66ff33;
  border-radius: 5px;
  width: 400px;
}

  .Batteria3{
    color: red;
    background-color: red;
    border-radius: 5px;
    width: 100px;
